@page
@model ISKI.SARS.WebUI.Pages.Users.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<h1>Change Password</h1>
<form method="post">
    <input type="hidden" asp-for="ModelData.UserId" />
    <div class="mb-3">
        <label asp-for="ModelData.OldPassword" class="form-label"></label>
        <input asp-for="ModelData.OldPassword" type="password" class="form-control" />
        <span asp-validation-for="ModelData.OldPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ModelData.NewPassword" class="form-label"></label>
        <input asp-for="ModelData.NewPassword" type="password" class="form-control" />
        <span asp-validation-for="ModelData.NewPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Change</button>
</form>
