@page
@model ISKI.SARS.WebUI.Pages.Auths.LoginModel
@{
    ViewData["Title"] = "Login";
}
<h1>Login</h1>
<form method="post">
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
